.day-dropdown {
    position: absolute;
    visibility: visible;
    z-index: 100;
    margin-top: -4%;
    background-color: #FAFAFA;
}

.day-list {
    margin: 0;
    padding: 0;
    right:0px;
    width: 260px;
    height: 320px;
    background-color: #FAFAFA;
    position: sticky;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid #333333;
    overflow-y: scroll;
    overflow-x: hidden;
}

.day-list::-webkit-scrollbar {width: 4px; }
.day-list:hover::-webkit-scrollbar-thumb {background: #333333;}

.day-list-item a {
    color: #000;
    text-decoration: none;
}


.day-list-item {
    font-size: 24px;
    position: relative;
    height: 60px;
    margin: 3%;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
}

.day-list-item:last-child {
    border-bottom: none;
}

.day-list-item:hover {
    background-color: #e5e5e5;
    color: white;
}

/*list element*/

.day-list-item-filter {
    width: 20%;
    height: 20%;
    flex: 1;
}

.day-list-filters {
    display: flex;
    position: absolute;
    bottom: 2%;
    right: 2%;
    justify-content: flex-end;
}

.day-list-text {
    flex: 1;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin: 1%;
    max-lines: 1;
}

.day-list-add-button {
    font-family: Oxygen, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
    margin: 3%;
    padding: 1%;
}

.day-list-add-button:hover {
    background: #e5e5e5;
    color: #000000;
}

.day-list-time {
    font-family: Oxygen, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin: auto;
    color: #333333;
    padding: 2%;
}

.day-list-content {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 1%;
}

.day-list-more-details-button {
    font-family: Oxygen, serif;
    font-style: normal;
    height: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: center;
    text-transform: lowercase;
    background: #333333;
    color: #F2F2F2;
}

