html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    min-width: 900px;
    min-height: 1000px;
}

.cal-wind__authorization-bar {
    display: flex;
    font-family: Oxygen;
    background-color: #F2F2F2;
    height: 37px;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    justify-content: flex-end;
    line-height: 35px;
    margin-bottom: 3px;
}

.cal-wind__authorization-bar #three-vectors {
    padding-top: 6px;
    width: 25px;
    height: 25px;
}

.cal-wind__menu-bar {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: black;
    padding-left: 5px;
    font-family: Oxygen;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}


.cal-wind__menu-bar__button-month {
    font-family: Oxygen;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-style: none;
    font-size: 18px;
    text-align: left;
    height: 40px;
    padding-top: 2px;
}

.cal-wind__menu-bar__button-month:hover {
    background-color: #F2F2F2;
}

.cal-wind__menu-bar__button-month_selected {
    font-family: Oxygen;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-style: none;
    font-size: 18px;
    text-align: left;
    height: 40px;
    padding-top: 2px;
    border-bottom: 1px solid red;
    background-color: #F2F2F2;
}

.cal-wind__up-bar__new-event-button {
    margin-left: auto;
    font-family: Oxygen;
    background-color: #ffffff;
    border-style: solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 18px;
    height: 30px;
    text-align: center;
    line-height: 10px;
    margin-top: 3px;
    justify-self: end;
    width: 150px;
}

.cal-wind__menu-bar__button-year {
    font-family: Oxygen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-style: none;
    font-size: 18px;
    text-align: center;
    margin-left: 30px;
    margin-right: 1%;
}

.days-table__wkd-bar {
    height: 30px;
    margin-left: 4%;
    margin-right: 9%;
    display: flex;
    justify-content: center;
}

.weekdays-bar__wkd, .weekdays-bar__day-off {
    font-family: Oxygen;
    text-align: center;
    width: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4F4F4F;
}

.weekdays-bar__day-off {
    background-color: #ECECEC;
}

.days-table {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 9%;
    height: 70%;
    border: 1px none #4F4F4F;
    border-right-style: solid;
}

.wrapper {
    background: #FFFFFF;
}

.days-table__week {
    display: flex;
    overflow: visible;
    width: 100%;
    height: 20%;
}

.days-table__day, .days-table__day-off{
    width: 25%;
    border: 1px solid #4F4F4F;
    border-top: none;
    border-right: none;
    min-width: 14%;;
}

.days-table__day-off{
    background-color: #ECECEC;
}

.days-table__day-off-btn {
    background-color: #ECECEC;
}

.days-table__day-btn__text-container {
    display: flex;
    flex-grow: 0.9;
    align-items: center;
    font-size: 48px;
}

.days-table__day-btn, .days-table__day-off-btn {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Oxygen;
}
.days-table__day-btn {
    border: 2px solid white;
}
.days-table__day-off-btn {
    border: 2px solid #ECECEC;
}

.text {
    margin: 0;
    padding: 0;

}
.days-table__day-btn {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.days-table__day-btn__busy-circle {
    background-color: #FD5052;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.current {
    margin: 0;
    color: black;
    font-size: 48px;
    text-decoration: underline #FD5052;
    text-decoration-style: double;
}

.days-table__day-btn:focus .days-table__day-submenu, .days-table__day-off-btn:focus
.days-table__day-submenu {
    display: flex;
    position: absolute;
    width: 300px;
    height: 95px;
    margin-left: 0;
    overflow-scrolling: auto;

    background: #FAFAFA;
    border: 2px solid #333333;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
}

.days-table__day-btn:hover,
.days-table__day-off-btn:hover {
    border: 2px solid #FD5052;
}

.cal-wind__auth-bar__employee-info:focus, .days-table__day-btn, .menu-bar__mapping-btn,
.auth-bar__employee-info-btn, .menu-bar__new-event-button,
.menu-bar__button-month, .days-table__day-btn,
.auth-bar__employee-info-btn, .menu-bar__filter-btn, .days-table__day-btn,
.days-table__day-off-btn {
    outline: 0;
}

