body {
    background: #F2F2F2;
}

html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.window {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: flex-start;
    align-content: center;
}

.window__empty {
    min-width: 36%;
    height: 650px;
}

.window__main {
    display: flex;
    flex-direction: column;
    min-width: 550px;
    max-width: 550px;
    min-height: 350px;
    height: 85%;
    margin-right: 50px;
    margin-left: 50px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .25);
    border-radius: 10px;
    background: #ffffff;;
}

.window__mainWindow__BgTop {
    height: 100px;
    text-align: center;
    background: url(images/bgInDayView.png), #e1e1e1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border-radius: 10px 10px 0px 0px;
}

.window__mainWindow__BgTop__textTime {
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 20px;
    /* or 42% */
    color: #FFFFFF;
}

.window__mainWindow__mainBg {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .25);
    border-radius: 0 0 10px 10px;
}

.window__mainWindow__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;
    height: inherit;
    width: inherit;
    border-radius: 0 0 10px 10px;
    padding: 5% 0 5% 2%;
}

.window__mainWindow__content__headline {
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    margin-right: 2%;
    /* Gray 1 */
    color: #333333;
    /* Gray 1 */
}

.window__mainWindow__content__description {
    font-family: "Catamaran", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    margin: 2% 2% 2% 0;
    /* Gray 1 */
    color: #333333;
    /* Gray 1 */
}

.window__mainWindow_content__filesContainer {
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    margin: 0 2% 2% 0;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 5px;
    height: 50px;
    min-height: 50px;
}

.window__mainWindow_content__file {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    width: 125px;
    min-width: 125px;
    height: 30px;
    padding-left: 5px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
}

.window__mainWindow__content__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 25px;
    font-family: "Catamaran", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #828282;
}

.timePin,
.emailPin {
    margin-right: 1%;
}

.locationPin {
    margin-right: 1%;
    margin-left: 0.5%;
}

.window__mainWindow__content__eventMark_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    overflow: auto;
    min-height: 32px;
    width: 100%;
    margin: 2% 0 0 0;
}

.window__mainWindow__content__eventMark {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 150px;
    min-height: 25px;
    font-family: "Catamaran", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    background: #FFFFFF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    padding-left: 2%;
}

.privateEvent_border_color {
    border-bottom: 2px solid #FD5052;

}

.externalEvent_border_color {
    border-bottom: 2px solid #50A9FD;
}

.correspondenceEvent_border_color {
    border-bottom: 2px solid #333333;
    min-width: 200px;
}

.internalEvent_border_color {
    border-bottom: 2px solid #6FCF97;
}

.window__mainWindow__content__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2% 2% 0 0;
}

.window__mainWindow__content__buttons__edit,
.window__mainWindow__content__buttons__trash {
    border: none;
    background-color: #ffffff;
}

.line {
    margin-top: 5%;
    margin-left: -5%;
    width: 105%;
    min-height: 1px;
    max-height: 1px;
    border: none;
    background-color: #828282;
}

.invited_people_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 5%;
}

.invited_people_column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.invited_people_title,
.invited_people_text {
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

.invited_people_text {
    color: #828282;
}
