
body {
    overflow: hidden;
}

.window__RectTop {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 95%;
    background: #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.window__mainWindow__RectCenter {
    height: 100px;
    background: url(images/bgInFormReg.png), #e1e1e1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

.window__mainBg {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 5%;
    bottom: 0%;
    background: #f2f2f2;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.signInTop {
    display: flex;
    border: none;
    margin: 0.6% 1% 0 auto;
    justify-content: center;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-transform: lowercase;
    font-feature-settings: "liga" off;
    color: #333333;
}

.window__mainWindow {
    width: 500px;
    height: 550px;
    margin: 5% auto;
    background: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.window__mainWindow__formGroup {
    padding-top: 9%;
    text-align: center;
}

.firstName,
.lastName,
.email,
.password,
.passRepeat {
    margin: 2%;
    padding-left: 2%;
    width: 400px;
    height: 35px;
    background: #f9f9f9;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    opacity: 0.5;
    font-size: 18px;
    line-height: 23px;
}

.signUp {
    margin: 4%;
    width: 85px;
    height: 35px;
    background: #f9f9fa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-transform: lowercase;
    color: #4f4f4f;
    border-style: solid;
    text-align: center;
}

.signInTop__link {
    text-decoration: none;
    color: inherit;
}